<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="/stylings/sign-up.css" />
    <title>Sign Up</title>
  </head>

  <body>
    <header class="profileHeader">
      <img onclick="document.location.href='/'" src="/images/icons/leftArrow.png" alt="left arrow">
      </header>


    <div class="container">
      <img class="icon" src="/images/icons/sin.png" alt="user icon"/>

    <h1>Create a new account!</h1>

    <form action="/users/sign-up" method="POST" class="sign-up">
      <div class="inputContainer">

        <div class="inputInfo">
      <input type="text" name="displayName" placeholder="displayName" />
        </div>

        <div class="inputInfo">
      <input type="text" name="username" placeholder="username" />
      </div>

      <div class="inputInfo">
      <input type="password" name="password" placeholder="password" />
        </div>

        <div class="inputInfo">
      <input type="password" name="confirmPassword" placeholder="confirmPassword" />
      </div>
      <p style="color: red; text-align: left; width: 100%;"><%= errorMsg?errorMsg:""%></p>
      <button type="submit" class="submit-button">Sign up</button>
    </form>
    </div>
  </body>
</html>
