<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylings/sign-in.css" />

    <title>Sign In</title>
  </head>

  <body>
    <header class="profileHeader">
      <img
        onclick="document.location.href='/users/sign-out'"
        src="/images/icons/leftArrow.png"
        alt=""
      />
    </header>

    <div class="container">
      <img class="icon" src="/images/icons/sin.png" alt="user icon" />

      <h1>Sign in</h1>

      <form action="/users/sign-in" method="POST" class="sign-in">
        <div class="inputContainer">
          <div class="username">
            <input type="text" name="username" placeholder="username" />
          </div>
          <div class="username">
            <input type="password" name="password" placeholder="password" />
          </div>
        <p style="color: red; text-align: left;
        width: 100%;"><%= errorMsg %></p>
        </div>
        <button type="submit" class="submit-button">Sign in</button>
      </form>
    </div>
  </body>
</html>
