</main>
<footer>
  <a href="/">
    <img src="/images/icons/home.png"  alt="">
  </a>
  <a href="/posts/new">
    <img src="/images/icons/new.png" alt="">
  </a>
  <a href="/posts">
    <img src="/images/icons/explorer.png" alt="">
  </a>
  <a href="/users/<%= user._id%>">
    <img src="/images/icons/user.png" alt="">
  </a>
</footer>