<header>
  <img class="previousPage"  src="/images/icons/leftArrow.png" alt="">
  <h1 class="pageName"><%= pageName %></h1>
  <a href="/users/search"><img src="/images/icons/searchIcon.png" ></a>
</header>
<main>