<nav>
  <% if(user) { %>
  <p>Welcome to Ume. <%= user.username %></p>
  <a href="/users/sign-out">Sign out</a>
  <% } else { %>
  <p>Welcome to the app guest.</p>
  <a href="/users/sign-up">Sign up</a>
  <a href="/users/sign-in">Sign in</a>
  <% } %>
</nav>
