<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylings/welcome.css" />

    <title>Ume</title>
  </head>

  <body>
    <div class="top-bar">
      <a class="sign-in" href="/users/sign-in">Sign in</a>
    </div>

    <div class="content">
      <h1>Welcome to Ume!</h1>
      <p class="msg">Where you and me connect!</p>
    </div>

    <div class="bottom-bar">
      <a class="sign-up" href="/users/sign-up">Create a new account</a>
    </div>
  </body>
</html>
