+.newCommentForm {
  height: 18vw;
  width: 99vw;
  background-color: #24293d;
  box-shadow: 30px 30px 30px 30px rgba(66, 75, 114, 0.42);
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.inputContainer input {
  width: 70%;
  height: 100%;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
}

.inputContainer input:focus {
  border: none;
}
.inputContainer {
  display: flex;
  height: 80%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  border: #8d99b254 3px solid;
  padding: 0rem 2rem;
  border-radius: 20px;
}
.inputContainer img {
  height: 40%;
  filter: invert(100%);
}
.inputContainer button {
  background-color: transparent;
  border: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  width: 100%;
}

.commentsSection{
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction:column ;
}
.comment {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: #BFBFBF 3px solid ;
  padding-bottom: 3rem ;
  font-family: "GeologicaBold";
  margin-top: 2rem;
}

.commenterImage{
  height: 80%;
}

.commentDetails{
  width: 50%;
  height: 100%;
}

.commentButtons{
  height: 40%;
  display: flex;
  width: 15%;
  justify-content: space-between;
}

.commentButtons img {
  height: 100%;
  aspect-ratio:1/1;
  filter: invert(100%);
}

.commentDetails{
  display: flex;
  flex-direction: column;
}

.commentDetails div{
  display: flex;
  justify-content: left;
  align-items: center; 
  width: 50% ;
  gap: 1rem;
  font-size: 1.75rem;
}

.commentContent {
  font-size: 2rem;
}

.commenterName{
  font-family: "DMSansRegular";
}

.commentTime{
  color: #7F7F7F;
  font-family: "DMSansRegular";
}