@font-face {
  font-family: 'GeologicaBold';
  src: url('./../fonts/Geologica/Geologica-Bold.ttf');
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

body {
  margin: 0;
  font-family: 'GeologicaBold';
  background-color: #24293d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.photo-label {
  color: #8ebbff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.photo-input {
  display: none;
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

input[type='text'] {
  width: 100%;
  max-width: 430px;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: #2f3855;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
}

input::placeholder {
  color: #999;
}

.submit-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #93b3ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
}

.options-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #93b3ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
}

.dark-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #2f3855;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: white;
  border-width: 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
}

.profileHeader{
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content:space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.profileHeader h2{
  text-align: center;
}
.profileHeader img {
  height: 5vw;
  display: inline-block;
  padding-right: auto;
  filter: invert(100%);
  position: relative;
  left: 0px;

}