@font-face {
  font-family: "GeologicaBold";
  src: url("./../fonts/Geologica/Geologica-Bold.ttf");
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "GeologicaBold";
}

body {
  margin: 0;
  font-family: "GeologicaBold";
  background-color: #24293d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.photo-label {
  color: #8ebbff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.photo-input {
  display: none;
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  font-family: "GeologicaBold";
}

input[type="text"] {
  width: 100%;
  max-width: 430px;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: #2f3855;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: "GeologicaBold";
}

input::placeholder {
  color: white;
  font-family: "GeologicaBold";
}

.submit-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #8ebbff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "GeologicaBold";
}

.options-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #8ebbff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "GeologicaBold";
}

.dark-button {
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: #2f3855;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: white;
  border-width: 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "GeologicaBold";
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
  font-family: "GeologicaBold";
}

.profileHeader {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.profileHeader h2 {
  text-align: center;
}
.profileHeader img {
  height: 5vw;
  display: inline-block;
  padding-right: auto;
  filter: invert(100%);
  position: relative;
  left: 0px;
}

.profileEditForm {
  width: 100%;
}

.input-label {
  display: block;
  color: #8ebbff;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.photo-button {
  display: inline-block;
  padding: 10px 20px;
  color: #8ebbff;
  border-radius: 12px;
  font-family: "GeologicaBold";
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}

.Profile-photo .input {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.photo-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.photo-label {
  display: inline-block;
  color: #8ebbff;
  font-family: "GeologicaBold";
  font-size: 16px;
  text-decoration: underline;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  display: inline-block;
  color: #8ebbff;
  font-family: "GeologicaBold";
  font-size: 16px;
  text-decoration: underline;
}
