main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
} 

.color {
  color:  #FFFFFF
}

span {
  font-weight: bold;
}

.backgroun-color {
  background-color: #8EBBFF;
}
#h1 {
  border: 5px solid #8EBBFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 850px;
  height: 150px;
}  

h1 {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
}  

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #8EBBFF;
  width: 850px;
  height: 700px;
}  

.post {
  width: 85%;
  height: 75%;
  object-fit: cover, contain
}  

#p {
  display: flex;
  justify-content: start;
  align-items: center;

  width: 850px;
  height: 50px;
  font-size: 1.7rem;

  border: 5px solid #8EBBFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon{
  width: 70px;
  height: 70px;
  padding: 3px; 
  background: rgb(68, 67, 67);
  border-radius: 50%;
  margin: 20px 0 0 30px;
}

.icon img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: white;
}

#edit {
  position: relative;
  top: 0;
  text-decoration: none;
  font-size: 2rem;
}