@font-face {
  font-family: "GeologicaBold";
  src: url("./../fonts/Geologica/Geologica-Bold.ttf");
}

.profileHeader {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.profileHeader img {
  height: 5vw;
  display: inline-block;
  padding-right: auto;
  filter: invert(100%);
  position: relative;
  left: 0px;
}

.icon {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: transparent;
  gap: 10px;
  width: 120px;
  height: 120px;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "GeologicaBold";
  background-color: #24293d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
  padding: 20px;
  height: 100%;
}

h2 {
  font-family: "GeologicaBold";
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.sign-up {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.inputInfo {
  width: 100%;
  max-width: 430px;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: #2f3855;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ffffff;
}

.inputInfo input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: "GeologicaBold";
}

.submit-button {
  display: flex;
  background-color: #8ebbff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  align-self: flex-end;
  font-family: "GeologicaBold";
}

input::placeholder {
  color: white;
  font-family: "GeologicaBold";
}
