.previousPage {
  opacity: 0;
  pointer-events: none;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  width: 100%;
}
.postsSection {
  width: 100%;
  overflow-x: scroll;
  height: 80vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.post {
  background-color: #2f3855;
  width: 90%;
  height: 60rem;
  border-radius: 15px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postHeader{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0rem 2.5rem;
}
.postOwnerProfile  {
  height:70%;
  
}
.postOptions {
  filter: invert(100%);
  transform: rotate(90deg);
  height: 30%;
}
.postDetails {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.postDetails div {
  display: flex;
  flex-direction: column;
}

.postOwner{
  font-family: "GeologicaBold";
  font-size: 2.5rem;
  color: white;
}

.postTime{
  font-size: 2rem;
  font-family: "DMSansRegular";
}

.postImageContainer{
  height: 55%;
  width: 100%;
  overflow: hidden;
  background-color:white ;
  border-radius: 15px;  
}

.postImageContainer img {
  object-fit: cover;
  width: 100% ;
}


.postCaption{
  font-size: 2.4rem;
  color: #AAB2BA;
  margin-top: 1rem;
  padding: 0rem 2.5rem;
}

.postButtons{
  padding: 0rem 2.5rem;
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

.reactions {
  display: flex;
  gap: 2rem;

}
.reactions .likes,
.reactions .comments,
.postButtons .share{
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.reactions .likes img ,
.reactions .comments img,
.postButtons .share img {
  height: 70%;
  filter: invert(100%);
}

.postButtons p {
  font-size:2.5rem;

}