@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.profileHeader{
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content:space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.profileHeader img {
  height: 5vw;
  display: inline-block;
  padding-right: auto;
  filter: invert(100%);
  position: relative;
  left: 0px;
}

html{
  height: 100%;
}

.user {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


body {
  margin: 0;
  font-family: 'GeologicaBold';
  background-color: #24293d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
  padding: 20px;
  height: 100%;
}

h2 {
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.inputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.password {
  width: 100%;
  max-width: 430px;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: #2f3855;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
}

.password input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  width: 100%;
}

.submit-button {
  display: flex;
  background-color: #8ebbff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  align-self: flex-end;
}