<h2>Edit Profile</h2>
<img src="<%= user.photo %>" />
<form
  action="/users/<%= user._id %>/profile?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="photo">Choose your image</label>
  <input type="file" name="photo" id="photo" />
  <input type="text" name="username" placeholder="Username" required />
  <input type="name" name="displayName" placeholder="Display Name" required />
  <input type="text" name="bio" placeholder="Bio" />
  <button type="submit">Save</button>
  <a href="/users/update-password"><p>Update Password</p></a>
</form>
<form action="/users/<%= user._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  <div>
    <p><a href="/users/sign-out">Sign out</a></p>
  </div>
