<h2>Edit Profile</h2>

<form action="/users/<%= user._id %>/profile?_method=PUT" method="POST">
  <input type="text" name="username" placeholder="Username" required />
  <input type="name" name="displayName" placeholder="Display Name" required />
  <input type="text" name="bio" placeholder="Bio"/>
  <button type="submit">Save</button>
</form>
