<html>
  <head>
    <title>User Search</title>
    <link rel="stylesheet" href="/stylings/search.css" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <img
          class="previousPage"
          onclick=""
          src="/images/icons/leftArrow.png"
          alt=""
        />
        <h1 class="pageName"><%= pageName %></h1>
      </div>
      <form action="/users/search" method="post" class="searchForm">
        <input type="text" name="string" />
        <button type="submit" class="hidden-btn" ;>Search</button>
      </form>
    </header>
    <% if (hasSearched){ %>
    <ul>
      <% users.forEach(user => { %>
      <li class="user">
        <a href="/users/<%= user._id %>">
          <span class="display-name"><%= user.displayName %></span>
          <span class="username">@<%= user.username %></span></a
        >
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
