<html>
  <head>
    <title>User Search</title>
    <link rel="stylesheet" href="/stylings/general.css" />
  </head>
  <body>
    <header>
      <img
        class="previousPage"
        onclick=""
        src="/images/icons/leftArrow.png"
        alt=""
      />
      <h1 class="pageName"><%= pageName %></h1>
      <img src="/images/icons/searchIcon.png" />
    </header>
    <form action="/users/search" method="post">
      <input type="text" name="string" placeholder="Search for users..." />
      <button type="submit">Search</button>
    </form>
    <% if (hasSearched){ %>
    <ul>
      <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user._id %>"
          ><%= user.displayName %> <%= user.username %></a
        >
      </li>
      <% }); %>
    </ul>
    <% } else if (users && users.length === 0) { %>
    <p>No Users Found</p>
    <% } %>
  </body>
</html>
