<img src="/uploadImeges/<%= post.photo %>" alt="Profile Picture" width="150" />

<form
  action="/posts/<%= post._id %>?_method=PUT"
  method="POST"
>
  <input type="text" name="caption" id="caption" value="<%= post.caption %>" />

  <button type="submit">Upload post</button>
</form>