
<h1>Edit: <img src="/uploadImages/<%= post.photo %>" /></h1>

<form action="/posts/<%= post._id %>?_method=PUT" method="POST">
  <input type="text" name="caption" id="caption" value="<%= post.caption %>" />

  <button type="submit">Upload post</button>
</form>
