<head>
  <link rel="stylesheet" href="/stylings/general.css" />
</head>
<%- include("./../partials/_header.ejs")%>

<h1>upload new post</h1>
<form action="/posts/<%= user.userId %>" method="POST" enctype="multipart/form-data">
  
  <input type="file" name="photo" id="photo">

  <input type="text" name="caption" id="caption">

<form action="/posts/<%= user.userId %>" method="POST">
  <label for="photo">URL: </label>
  <input type="text" name="photo" id="photo" />

  <br />

  <label for="caption">caption: </label>
  <input type="text" name="caption" id="caption" />

  <br />

  <button type="submit">Upload post</button>
</form>
<%- include("./../partials/_footer.ejs")%>
