<h1>upload new post</h1>
<form action="/posts/<%= user._id %>" method="POST">
  <label for="photo">URL: </label>
  <input type="text" name="photo" id="photo">
  
  <br>

  <label for="caption">caption: </label>
  <input type="text" name="caption" id="caption">

  <br>

  <button type="submit">Upload post</button>
</form>