<head>
  <link rel="stylesheet" href="/stylings/general.css" />
</head>
<%- include("./../partials/_header.ejs")%>

<h1>upload new post</h1>
<form
  action="/posts/<%= user.userId %>"
  method="POST"
  enctype="multipart/form-data"
>
  <input type="file" name="photo" id="photo" />

  <input type="text" name="caption" id="caption" />
</form>
<%- include("./../partials/_footer.ejs")%>
