<head>
  <link rel="stylesheet" href="/stylings/general.css" />
  <link rel="stylesheet" href="/stylings/createPost.css" />
  <!-- <script defer src="../../public/click.js"></script> -->
</head>
<%- include("./../partials/_header.ejs")%>


  <img src="/image.png" class="add-photo" id="photo"/>
  <div class="form">
  <form name="form" id="form"
  action="/posts/<%=user._id %>"
  method="POST"
  enctype="multipart/form-data"
  >
  <input type="file" name="photo" id="input"/>
  
  
</form>
<div>
  <label id="description" for="caption" form="for">Caption</label>
  <br>
  <input class="caption" type="text" name="caption" id="caption" placeholder="Add a caption here..." form="form"/>
</div>
</div>
</main>
<div class="upload-container">
  <button class="upload" type="submit" form="form">Share</button>
</div>


<script>
  const image = document.getElementById("photo")
  image.addEventListener("click", () => {
    document.getElementById("input").click()
  })
</script>

